body{
	background-color: #054480;
	background-image: url('images/bgtop.png'), url('images/bg.png');
	background-position: top;
	background-repeat: repeat-x, repeat;
	color: #FFCC00;
	font-family: times;
	font-size: 12pt;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#container {
	margin: auto;
	background-image: url('images/cytadela.png');
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 130px;
	width: 1080px;
}

#left{
	text-align: center;
	width: 200px;
	height: 300px;
	float: left;
}

#center{
	position: absolute;
	margin-left: 200px;
}

#right{
	width: 450px;
	float: right;
}

#rightleft{
	float: right;
	padding-left: 5px;
	width: 350px;
}

#rightright{
	float: left;
	width: 90px;
}

#action{
	display: none;
}

#build{
	display: none;
}

#gameInfo{
	height: 100px;
	width: 400px;
	overflow-y: auto;
	margin-left: 10px;
}

#howMany{
	display: none;
}